h1{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    display: flex;
    align-items: center;
    

    /* Complementos//Negro/Negro1 */

    color: #292929;
    margin-bottom: 2%;

}
h2{
    /* Subtitulo/Subtitulo1 */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #292929;
 
    margin-bottom: 3%;
    margin-right: 3%;
}
h3{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #292929;
    
    margin-top: 0;
    margin-right: 3%;
    
}
h4{
    color: #292929;
    font-family: 'Jost';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    
    margin: 1%;
    margin: 3%;

}
h5{
    color: #292929;
    font-family: 'Jost';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 52px;
 
    margin-top: 0.1%;
    

}
.swal-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    font-family: 'Ubuntu';
    font-style: normal;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 27px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.conte-marg {
    margin-right: 1em;
    margin-left: 1em;
}
.conte-marg-form {
    margin-right: 1em;
    margin-left: 1em;
}
.textos-header h1 {
    margin-left: 3%;
}
form {
    margin-top: 2em;
}
.form-div {
    margin-bottom: 1em;
}
button#btn-inscrip {
    background: #C1121F;
    color: #ffff;
    padding: 10%;
    border-radius: 5px;
    border: 0;
}
.conten-linea-insc {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    margin-top: 3%;
    align-items: center;
    align-content: center;
    width: 100%;
}
.conten-linea-insc h3 {
    width: 70%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    align-content: center;
    margin: auto;

}
.btn-in {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}